.wrapperTwo {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordianTwo {
  width: 80%;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.itemTwo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTwo {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: burlywood;
  color: black;
}

.titleTwo span {
  font-size: 40px;
}

.contentTwo {
  color: black;
  height: auto;
  background-color: burlywood;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}
